<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Permisos necesarios -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Características del dispositivo -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_salus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_salus_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Salus"
        tools:targetApi="31">

        <!-- Actividades de la aplicación -->



        <activity
            android:name=".ConsultaActivity"
            android:parentActivityName=".ConsultasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConsultasActivity" />
        </activity>
        <activity
            android:name=".ConsultasActivity"
            android:parentActivityName=".home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>

        <activity
            android:name=".ContactoMensajeEnviado"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".home"
            android:exported="false"
            android:label="Registro"/>



        <activity
            android:name=".Contacto"
            android:parentActivityName=".home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EspecialidadesActivity"
            android:parentActivityName=".home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity
            android:name=".Servicios"
            android:parentActivityName=".home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>

        <activity
            android:name=".ServiciosOdon"
            android:parentActivityName=".home" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".home" />

        <activity
            android:name=".Turnero_Medicos"
            android:parentActivityName=".ProfesionalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfesionalActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfesionalesActivity"
            android:parentActivityName=".home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity
            android:name=".ProfesionalActivity"
            android:parentActivityName=".ProfesionalesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfesionalesActivity" />
        </activity>
        <activity
            android:name=".Turnos"
            android:parentActivityName=".home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity
            android:name=".login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".home"
            android:parentActivityName=".login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>